{% extends 'base.html' %}

{% block head %}
<title>Page Not Found</title>
{% endblock %}


{% block body %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Page Not Found </h1>
        <div class="container d-flex justify-content-center">
            <img class="d-flex" style="width: 100px; height: 100px;" src="https://media.istockphoto.com/id/1269500670/vector/yellow-rubber-duck-icon.jpg?s=612x612&w=0&k=20&c=xO1K6beBtVaheYpgElZcWxHD0otQDD23nV9FTCQkISo=" alt="">
        </div>
    </div>
</div>

{% endblock %}