{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block body %}
    <main>

        <div class="main-item movie-search d-flex mt-5 mb-3">

            <!-- <h1>This is how is gonna appear: {{url_view}}</h1> -->

        <div class="button-container">

            <form class="form-floating" method="POST">

                <label for="search">Search Movies</label>

                <div class="input-group mb-3">
                    <input type="text" id="search" name="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                    <input class="btn btn-dark" type="submit" name="search" id="search" value="Search">
                    
                </div>
                
            </form>
                
        </div>
        
    </div>
        
    </main>

{% endblock %}