{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block body %}
    <main>

        <div class="main-item movie-search">
            <h1>This is how is gonna appear: {{urlView}}</h1>
            <div class="button-container">

                <form method="post" action="/">

                    <input id="search" name="search" type="text">
                    <input type="submit" name="search" id="search" value="Search Name">

                </form>
                
            </div>
        </div>
        
    </main>

{% endblock %}