* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* Prevent horizontal overflow */
}

body {
    background-color: #e7eaf0;
    /* Light mode background */
    color: black;
    /* Light mode text color */
    min-width: 320px;
    margin: 0;
    padding: 0;
}

#root,
.App {
    display: flex;
    /* Flexbox to make it more adaptive */
    flex-direction: column;
    height: 100vh;
    /* 100% of the viewport height */
    width: 100vw;
    /* 100% of the viewport width */
    background-color: #e7eaf0;
    /* Ensure the whole screen is covered */
    overflow-x: hidden;

    overflow: none;
}

#dark {
    background-color: #121212;
    /* Dark mode background */
    color: #e7eaf0;
    /* Dark mode text color */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Add transition */
}

.main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: rgb(51, 82, 82); */
    /* margin: 20px 0 20px 0; */
}

.sub-container {
    display: flex;
    top: 0;
    height: 15vh;
    align-items: flex-start;
    /* background-color: #121212; */
}

/* SEARCH AND BUTTONS*/

.search-bar {
    margin: 0;
    padding: 0;
}

.button-container {
    /* margin-top: 60px; */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px;
}

/* SEARCH AND BUTTONS FINISH */

/* 2. RESULTS / WISHLIST MOVIELIST CONTENT CONTAINER + PAGINATION */

.content-container {
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    height: 75vh;
    width: 100%;
    align-items: center;
    /* background-color: #275a8d; */
}


.pagination-group {
    margin-top: 20px;
    justify-content: center;
}


ul.pagination li a {
    color: #444444;
    font-weight: 500;
}

ul.pagination li.active {
    background-color: #2e2e2e;
}

.active>.page-link,
.page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #585f60;
    border-color: #727778;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #3f3f3f;
}

ul.pagination li.active {
    background-color: #d8d1d100;
}

.nav-theme {
    position: fixed;
    /* background-color: rgba(179, 174, 174, 0.618); */
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
    /* Reset margin */
    padding: 0;
    /* Reset padding */
    z-index: 10000;
}


.toggle-theme-mode {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.toggle-scroll-mode{
    font-size: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.switch {
    display: flex;
    align-items: end;
    padding: 0 20px;
    /* transform: translateX(600%) translateY(-180%); */
}

.react-switch-handle {
    background-color: #e7eaf0;
}

/**
    CUAK DE PATO
*/
.movielist-notfound-container span {
    font-size: 10px;
    position: absolute;
    transform: rotateZ(30deg) translateY(-50%) translateX(140%);
}


/* LOGIN PAGE */

.login-element form {
    border: 0;
    margin: 0;
    padding: 0;
    /* background-color: brown; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    align-items: center;
}

.login-element label {
    font-weight: 400;
}

.login-element form .login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;

}

/* END LOGIN PAGE */


/**
    BUTTON GROUP
*/




.button-container .side-buttons input {
    margin-right: 20px;
}

#light {
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Add transition */
}

#light .container {}

.login-submit {
    font-weight: 300;
    border: 0;
}

#light #logout {
    background-color: #212529;
    /* Dark mode background */
    color: #fff;
    border: 0;
}

#dark .search-btn {
    border: 2px;
}

#light .search-btn {
    box-shadow: rgba(17, 18, 26, 0.235) -5px 0px 10px 0px;
}

#dark .login-submit,
#dark .search-btn,
#dark .side-buttons #logout {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 500;
    box-shadow: rgba(17, 17, 26, 0.402) 0px 0px 16px;
    border: 0;

}

.img-duck {
    filter: drop-shadow(7px 7px 0px rgba(123, 122, 122, 0.319));
    max-width: 100%;
    /* Ensure responsive sizing */
}

.movielist-notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.movielist-notfound-container h3 {
    font-weight: 300;
    margin-top: 20%;
}

#dark .movie-card {
    box-shadow: rgba(247, 247, 247, 0.1) 0px 9px 20px;
}

/* MOVIE CARD */


/* MOVIE CARD */
.movie-card {
    border-radius: 0px;
    /* margin: 10px; */
    border: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 60vh;
    background-color: #f8f9fa;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     */
    /* box-shadow: inset rgb(0, 0, 0) 0px 0px 60px -12px; */
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 70%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* Hide any overflow to ensure the image is clipped within the container */

}

.card-img img {
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This will ensure the image completely covers the container */
    display: block;
    /* Prevents any inline spacing issues */
    border: none;
    /* Removes any unwanted borders */

}

.card {
    border: 0 !important;
}

.card-body {
    border: 0 !important;
    border-radius: 0;
    height: auto;
    /* Let the body adjust its height naturally */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    row-gap: 50px;
    padding-bottom: 50px;
    max-width: 1000px;
    transition: opacity 0.3s ease-in-out;

}

.loading-spinner {
    opacity: 0.7;
    text-align: center;
}

.movie-list.loading {
    opacity: 0.5;
}

.movie-card {
    /* flex: 1 1 calc(20% - 40px); */
    min-height: 150px;
    min-width: 150px;
    max-width: 180px;
}

.movie-card:hover,
.movie-card:focus,
.hidden {
    /* box-shadow: inset 0px 0px 60px -12px rgba(0, 0, 0, 1);  */
    /* transition: box-shadow 0.3s ease; */
    transition: box-shadow 2s ease-in-out, opacity .6s ease, transform .6s ease-out;
}

@keyframes shrinkOut {
    from {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px)
    }

    to {
        opacity: 0;
        transform: scale(0.8) translate(0%, 0%);
        filter: blur(5px);
        margin: 0;
        padding: 0;
    }
}


/* Make sure the title adjusts with screen size */
.card-title {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    /* Responsive font size */
    margin-bottom: 5px;
    /* Smaller margin to reduce space between title and overview */
    font-weight: 600;
    max-height: 3rem;
    /* Limit the title height to avoid overflow */
    overflow: hidden;
    /* Ensure longer titles don’t expand the card */
    text-overflow: ellipsis;
    /* Add ellipsis if the title is too long */
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-overview {
    font-size: clamp(0.8rem, 1vw, 0.95rem);
    /* Responsive font size */
    color: #666;
    margin-top: 5px;
    /* Reduced margin to tighten the layout */
    line-height: 1.2;
    /* Tighten up the spacing between lines */
    max-height: 3rem;
    /* Prevent overflow of the overview */
    overflow: hidden;
    /* Hide any overflowing text */
    text-overflow: ellipsis;
}

/* HOVER OPACITY BUTON HOVER  */

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: #e7eaf000 !important;
}

.remove-wishlist-btn {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.796));
    /* box-shadow: inset 0 0 10px #00000075; */
}

.btn-sm {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.movie-info-button {
    margin-top: 10px;
    padding: 5px 15px;
    color: rgb(245, 245, 245);
    border: none;
    cursor: pointer;
}

.movie-info-button:hover {
    background-color: #0e1013;
}


.card-body .btn {
    margin-top: auto;
    /* Pushes the button to the bottom */
}



/* FONTS */

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.movie-card svg:hover {
    transform: scale(110%);
    /* transition: 0.2s; */
}

.toast-message {
    position: fixed;
    right: 20;
    bottom: 20;
}


/* ADMIN PANEL */

.admin-panel {
    overflow-y: scroll;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: top; */
    /* align-items: top; */
    max-height: 60vh;
    width: 60vh;
    /* background-color: rgb(211, 205, 205); */
    /* border: 1px solid #f8f9fa2f; */
    /* border-radius: 15px; */
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: rgba(87, 87, 87, 0.47) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.445) 0px 18px 26px -18px inset;
}


.admin-panel-item {
    color: #121212;
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 35px;
    flex-shrink: 0;
}

.admin-panel-item>* {}

/* Customize Scrollbar */
.admin-panel::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
    /* Width of the scrollbar */
}

.admin-panel::-webkit-scrollbar-track {
    background: #c3323200;
    /* Color of the track */
    overflow: hidden;
}

.admin-panel::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the thumb */
    border-radius: 12px;
    /* Roundness of the thumb */
    border: 3px solid #121111;
    /*Padding around thumb */
}

.admin-panel::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the thumb on hover */
}

.admin-panel-btn-container {
    display: flex;
}

.admin-panel-btn-container div {
    padding-right: 2px;
}


/* BUtton inside admin-panel */
/* From Uiverse.io by vinodjangid07 */
.admin-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    gap: 2px;
    color: white;
}

/* .admin-btn:disabled{
    background-color: rgb(59, 59, 59);
} */
/* .admin-btn:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0; */
/* } */

/* #admin-admin-rights-btn{
} */

/* .wishlist-btn-container */
/* From Uiverse.io by KSAplay */ 
.wishlist-btn-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.wishlist-btn-container {
    transform: scale(0.8);
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 100ms;
}

.checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
}

.wishlist-btn-container .checkmark path {
    stroke: rgb(197, 190, 190);
}

.wishlist-btn-container input:checked~.checkmark path {
    fill: #ff5353;
    stroke-width: 0;
}

.wishlist-btn-container input:checked~.checkmark {
    animation: like_effect 400ms ease;
}

.wishlist-btn-container:hover {
    transform: scale(1.1);
}

@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#admin-change-plan-btn{
    background-color: rgb(59, 107, 59);
}

#admin-admin-rights-btn{
    background-color: rgb(59, 61, 107);

}

#admin-delete-btn{
    background-color: rgb(111, 53, 53);
}

/* MODALS */

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 5s ease-in;
}

.modal-overlay.show {
    display: flex;
    opacity: 1; /* Fade in */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    text-align: center;
}

.plan-buttons button {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 0px;
}

.plan-buttons button:disabled {
    background-color: rgb(69, 69, 69);
}

.modal-close-btn{
    color: #090909;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    justify-content: center;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.modal-content h3 {
    color: black;
}


/* body{
    max-width: 1500px;
    height: 200vh;
    
} */

/* main{ */
/* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0 20px 0; */
/* } */


/* .button-container Button {
    margin: 0 0 0 2.5px;
} */

/* 
#npage, #ppage{
    background-color: rgb(85, 85, 85);
    color: beige;
    border: 0px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
} */



/* 
form #npage:hover{
    background-color: rgb(134, 134, 134);
} */




/* .movie-container{
    max-width: 60%;
    height: 400px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    
} */


/* .movie-card h4{
    padding: 0;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(36, 36, 36);
}
 */

/* .movie-info-container, .movie-container p{
    font-family: 'Open sans';
    font-size: 10px;

    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden;
} 

*/

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .movie-card {
        /* width: 100%;
        flex: 1 1 100%; */
    }

    .search-bar {
        width: 100%;
    }

    .pagination-buttons {
        /* flex-direction: column;
        align-items: center; */
    }
}

@media (max-width: 600px) {
    .btn {
        /* padding: 5px 10px;
        font-size: 12px; */
    }

    h5 {
        /* font-size: 14px; */
    }
}